footer {
    width: 100%;
    height: auto;
    background:rgba(red, green, blue, alpha);
    padding: 3rem 12%;
    color: #fff;
    border-top: 1px solid #561389;
    }

    .container-foot{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 1rem;
    }

    .container-foot .leftBox .social-media{
    display: flex;
    }

    .container-foot .title{
    font-size: 1.5rem;
    color: var(--hover-color);
    font-weight: 600;
    }

    .leftBox p{
    padding: 10px 0;
    line-height: 1.5rem;
    }

    .social-media a{
        font-size: 1.5rem;
    }
    
    .social-media a:hover{
        color: var(--hover-color);
    }

    .social-media li{
        margin-right: 1rem;
    }

    .quick-menu li{
        margin-top: 1rem;
    }
    
    .quick-menu li a:hover{
        color: var(--hover-color);
    }

    .info li span{
        display: flex;
        align-items: center;
        margin: 1rem  1rem 1rem 0;
        column-gap: 5px;
    }

    .copyRight{
        padding: 1.5rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: #fff;
        background: rgba(0, 0 ,0, 0.7);
        border-top:1px solid rgba(117,117,117,0.3);
        align-items: center;
    }
    .copyRight a{
        display: inline-flex;
        align-items: center;
        background: var(--hover-color);
        padding: 10px;
        color:#000
    }
    

/* header stickey */
    header.sticky{
        background: rgba(0, 0, 0, 0.7);
        padding: 9px 12%;
        border-bottom: 1px solid #3e0e62;
    }

    /* scroll animation */

    .scroll-left{
        opacity: 0;
        transform: translateX(40px);
    }

    .scroll-right{
        opacity: 0;
        transform: translateX(-40px);
    }

    .scroll-top{
        opacity: 0;
        transform: translateY(-50px);
    }

    .scroll-bottom{
        opacity: 0;
        transform: translateY(50px);
    }

    .scroll-scale{
        opacity: 0;
        transform: scale(.8);
    }

    .show-items{
        opacity: 1;
        transform: translateX(0);
        transform: translateY(0);
        transition: all 2s;
    }



    /* keyframes */

@keyframes floatImg {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-14px);
    }
    
    100% {
        transform: translateY(0);
    }

}

@keyframes circleAnimate {
    100% {
        opacity: 0;
        transform: scale(2);
    }
}

/* media queries */
@media(max-width:1200px){
html{
font-size: 95%;
}

.navlist li{
margin: 0 1.2rem;
}

}

@media (max-width: 991px) {
header, header.sticky{
padding: 12px 3%;
}


.navlist li .nav-item{
padding: 23px 0;

}

.flight-list .container{
    margin-top: 0;
    }

section{
    padding: 50px 3%;
    }

.container-foot {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    }

    
footer, .copyRight{
    padding: 2rem 3%;
}

.mission-history ,
.experience{
    flex-direction: column;
    height: 100%;
}

.img-mission{
    width: auto;
}
}

@media(max-width:768px) {
#menu-icon{
    display: block;
    margin-left: .7rem;
    }

    .navlist{
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
    align-items: center;
    width: 100%;
    justify-content: center;
    transition: all .7s ease;
    }

.navlist li{
    padding: 1.2rem;
    width: 100%;
    font-size: 1.4rem;
}

.home{
    display: grid;
    grid-template-columns: 1fr;
}

.earth-rotate img.earth{
    animation: none;
}

.container-foot{
    display: grid;
    grid-template-columns: 1fr;
}
}

@media(max-width:503px){
    .copyRight{
        display: block;
        text-align: center;
    }

    .copyRight p{
        margin-bottom: 1rem;
    }

    .container .flight-box{
        width: 60%;
    }

    .earth-rotate img.earth{
        display: none;
    }

    .circle-animate{
        width: 150px;
        height: 150px;
        left: 12%;
    }
}












